@import "tailwindcss";

body{
    font-family:'Airbnb Cereal', 'Poppins', 'Inter', sans-serif;
}

.paracolor{
    color: #b1b1b1fb;
}

.active{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inactive{
    background-color: #e4e3e3fb;
    box-shadow: none;
}